.root {
  --track-height: 0.35rem;
}

.input {
  @apply absolute left-0 transform -translate-y-1/2 opacity-0 top-1/2;
  width: calc(100% + 1rem);
  margin-left: -0.5rem;
}

.track {
  @apply absolute left-0 transform -translate-y-1/2 top-1/2;
  height: var(--track-height);
}

.progress {
  @apply absolute left-0 transform -translate-y-1/2 top-1/2;
  width: var(--slider-progress);
  height: var(--track-height);
}

.thumb {
  @apply absolute transform top-1/2;
  left: var(--slider-progress);
  transform: translate(-50%, -50%);
  @apply bg-background-50;
  box-shadow: 0px 0px 3px theme("colors.background.600");
  opacity: 0;
}
