@import "./components/index.css";
@import "./explicit-base.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   .link {
      @apply text-primary-600 hover:text-secondary-500 hover:underline;
   }

   .dark .link {
      @apply text-primary-400 hover:text-secondary-500;
   }

   .image-wrapper {
      @apply inline-block overflow-hidden;
      letter-spacing: 0;
      word-spacing: 0;
      font-size: 0;
   }

   .bg-plus-pattern {
      background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23555' fill-opacity='0.08'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
   }

   .bg-radial-gradient-100 {
      /* prettier-ignore */
      background: radial-gradient(#fff6, theme("colors.background.900")07);
   }

   .bg-radial-gradient-300 {
      /* prettier-ignore */
      background: radial-gradient(#fff9, theme("colors.background.900")0d);
   }

   .dark .bg-radial-gradient-100 {
      background: radial-gradient(#ffffff02, #00000020);
   }

   .dark .bg-radial-gradient-300 {
      background: radial-gradient(#ffffff03, #00000040);
   }

   .bg-linear-gradient-100 {
      /* prettier-ignore */
      background: linear-gradient(90deg, #fff2, theme("colors.background.900")05, #fff2);
   }

   .bg-linear-gradient-300 {
      /* prettier-ignore */
      background: linear-gradient(90deg, #fff4, theme("colors.background.900")0b, #fff4);
   }

   .dark .bg-linear-gradient-100 {
      background: linear-gradient(90deg, #00000015, #ffffff02, #00000015);
   }

   .dark .bg-linear-gradient-300 {
      background: linear-gradient(90deg, #00000032, #ffffff05, #00000032);
   }

   .border-caption-color {
      @apply border-primary-600 dark:border-primary-200;
   }

   .divider {
      @apply border-primary-600 opacity-20;
   }
}

html {
   text-rendering: optimizeLegibility;
   font-smooth: auto;
}

body {
   color: black;
   background-color: theme("colors.background.50");
}

code,
kbd,
samp,
pre {
   @apply font-monospace;
}

a[href]:not([hidden]):not(.unstyled-a) {
   @apply link;
}

.dark body {
   color: aliceblue;
   background-color: theme("colors.background.900");
}

/* rehype-higlight code blocks */
.hljs {
   @apply card-backdrop;
}
